.PageBox{
    background-color:rgb(187, 187, 187);

    border-radius: 8px;
    padding: 16px 20%;

    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
}

.AssetsSelect{
    background-color:rgb(187, 187, 187);
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.EventsSelect{
    background-color:rgb(187, 187, 187);
    position: fixed;
    top: 50%;
    right: 25%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}