.PageBox{
    background-color:rgb(187, 187, 187);

    border-radius: 8px;
    padding: 16px 30%;

    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
}

.AssetsSelect{
    background: none;
    border: none;
    outline: none;

    padding: 5px 20%;

    position: fixed;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

.EventsSelect{
    background: none;
    border: none;
    outline: none;

    padding: 5px 20%;

    position: fixed;
    top: 50%;
    right: 1%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.AssetsSelect[data-state="active"]{
    background-color:rgb(230, 230, 230);
    border-radius: 8px;
}

.EventsSelect[data-state="active"]{
    background-color:rgb(230, 230, 230);
    border-radius: 8px;
}